{
  "name": "io.vertx~mod-mongo-persistor",
  "waitDeploy" : true,
	"worker": false,
  "config": {
    {% if mongoUser is defined %}
    "username": "{{mongoUser}}",
    {% endif %}
    {% if mongoPassword is defined %}
    "password": "{{ mongoPassword }}",
    {% endif %}
    {% if mongoAuthSource is defined %}
    "authSource": "{{mongoAuthSource}}",
    {% endif %}
    {% if mongoAuthSource is defined %}
    "authMechanism": "{{mongoAuthSource}}",
    {% endif %}
    "connection_string": "{{mongoConnectionString}}",
    "address": "wse.mongodb.persistor",
    "seeds": [ {{ mongoSeeds }} ],
    "db_name": "{{dbName}}",
    "use_mongo_types": true,
    "use_ssl": {{mongoUseSsl | default(true)}},
    {% if (mongoReadPreference is defined) %}
    "read_preference": "{{mongoReadPreference}}",
    {% endif %}
    {% if mongoSocketTimeout is defined %}
    "socket_timeout": {{ mongoSocketTimeout  | default('30000') }},
    {% endif %}
    "pool_size": {{ mongoPoolSize  | default('4') }}
  }
}